<center><img width="250px" src="{{imageFront}}" alt="{{name}}"></center>
<!-- <center><div id="street-view" class="street-view"></div></center> -->
<br>
<ul class="properties">
  <li class="name"><b>{{name}}</b></li>
  <li class="address"><i class="fa fa-building"></i>{{address}}</li>
  {{#if website}}
    <li class="website"><i class="fa fa-globe"></i><a href="{{website}}" target="_blank">{{website}}</a></li>
  {{/if}}
  {{#if tfnos}}
    <li class="tfnos"><i class="fa fa-phone"></i>{{tfnos}}</li>
  {{/if}}
  <li class="gsv-link"><a href="{{gsvLink}}" target="_blank">Street View</a></li>
</ul>
